
*******************************************************************************
/build/linux/scripts/dtc/include-prefixes/arm64/digi/ccimx8x-sbc-pro.dts

/*
 * I2C3 connected to Audio codec and USB 3.0 PD PHY.
 * Also available on:
 * - Expansion header
 * - PCIe connector
 * - Parallel Camera connector
 */
&i2c3 {
	status = "okay";
};

/* MIPI-CSI0 I2C available on MIPI Camera connector */
&i2c_mipi_csi0 {
	status = "okay";
};

/* MIPI camera */
&mipi_csi_0 {
	status = "okay";
};

&ov5640_mipi {
	status = "okay";
};


*******************************************************************************
build/linux/scripts/dtc/include-prefixes/arm64/digi/ccimx8x-sbc-pro.dtsi
/*
 * I2C3 connected to Audio codec and USB 3.0 PD PHY.
 * Also available on:
 * - Expansion header
 * - PCIe connector
 * - Parallel Camera connector
 */
&i2c3 {
	max98089: codec@10 {
		compatible = "maxim,max98089";
		reg = <0x10>;
	};
        /* CSI Parallel Camera */
	ov5640: ov5640@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;

		port {
			ov5640_ep: endpoint {
				remote-endpoint = <&parallel_csi_ep>;
			};
		};
	};
}

&parallel_csi {
	port@0 {
		parallel_csi_ep: endpoint {
			remote-endpoint = <&ov5640_ep>;
		};
	};
};

/* MIPI-CSI0 I2C available on MIPI Camera connector */
&i2c_mipi_csi0 {
	/* MIPI-CSI2 camera */
	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;

		port {
			ov5640_mipi_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
			};
		};
	};
};

&mipi_csi_0 {
	/* Camera 0  MIPI CSI-2 (CSIS0) */
	port@0 {
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&ov5640_mipi_ep>;
		};
	};
};